$hoverColor: #FCFCFC;

.day-container {
  border: 1px solid transparent;
  padding: 10px;
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 0 10px 0 0;
  color: #878787;
  transition: .3s all;
  background: #FCFCFC;;
  &.active {
    &:hover {
      border-color: #878787;
      cursor: pointer;
      font-weight: bold;
      background: $hoverColor;
      -webkit-box-shadow: -1px 5px 10px 1px rgba(184, 184, 184, 1);
      -moz-box-shadow: -1px 5px 10px 1px rgba(184, 184, 184, 1);
      box-shadow: -1px 5px 10px 1px rgba(184, 184, 184, 1);
    }
  }
  &.inactive {
    opacity: .4;
    &:hover {
      border-color: transparent;
      color: #878787;
      background: none;
      cursor: default;
    }
  }
  .day, .icon, .temp {
    width: 100%;
    display: inline-block;
    margin: 0px auto;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  .temp {
    font-size: 15px;
  }
  .icon {
    img {
      height: 48px;
      width: 48px;
      display: inline-block;
    }

  }
}